/* google font */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* variables */
:root {
    /* font family */
    --ff-base: "Kumbh Sans", sans-serif;
    /* font weight */
    --fw-regular: 400;
    --fw-bold: 700;
    /* color */
    --clr-primary-bg: hsl(185, 75%, 39%);
    --clr-primary-heading: hsl(229, 23%, 23%);
    --clr-primary-paragraph: hsl(227, 10%, 46%);
    --clr-neutral-gray: hsl(0, 0%, 59%);
}

/* reset */
/* box-model */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* general styling */
body {
    /* layout */
    height: 100vh;
    /* display */
    display: grid;
    place-content: center;
    /* font */
    font-family: var(--ff-base);
    font-size: 14px;
    line-height: 1.5;
    font-weight: var(--fw-regular);
    color: var(--clr-primary-paragraph);
    /* background */
    background-color: var(--clr-primary-bg);
    background-image: url(/images/bg-pattern-top.svg),
        url(/images/bg-pattern-bottom.svg);
    background-position: top -400px left -300px, bottom -400px right -300px;
    background-repeat: no-repeat;
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
}

.circle-top {
    position: absolute;
    top: -450px;
    right: 10px;
}

.card-container {
    width: 450px;
}

.card {
    background-color: #fff;
    border-radius: 1rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.img-container {
    display: grid;
    place-content: center;
    padding-top: 8rem;
    padding-bottom: 2rem;
    position: relative;
    margin-bottom: 3rem;
}

.img-container::before {
    content: "";
    width: 100%;
    height: 8rem;
    background-image: url(/images/bg-pattern-card.svg);
    border-radius: 1rem 1rem 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.img {
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    font-size: 18px;
    font-weight: var(--fw-regular);
    color: var(--clr-primary-heading);
}
.title span {
    font-weight: var(--fw-bold);
}

.divider {
    width: 100%;
    height: 2px;
    background-color: var(--clr-neutral-gray);
    opacity: 0.15;
    margin-block: 1rem;
}

.stats {
    padding: 1rem 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.stat-number {
    font-size: 18px;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-heading);
}

/* mobile */
@media screen and (max-width: 375px) {
    .card-container {
        width: 328px;
    }
}
